[Unit]
Description=Minecraft Server
After=network.target
ConditionHost=mc-*

[Service]
User=minecraft
Group=minecraft

ExecStart=/opt/bin/ac-lan-broadcast

NoNewPrivileges=true

[Install]
WantedBy=default.target
