[Unit]
Description=Periodically check if Minecraft needs to be restarted

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
