[Unit]
Description=Map Sync
ConditionHost=minecraft

[Service]
Type=oneshot

User=minecraft
Group=minecraft

ExecStart=/opt/bin/ac-sync

NoNewPrivileges=true
