[Unit]
Description=Update Minecraft modpack
After=network.target
ConditionPathExists=|/opt/minecraft/server/minecraft.needs-update
ConditionPathExists=|/tmp/minecraft.needs-update

[Service]
Type=oneshot

ExecStart=/opt/bin/ac-do-update -y
