[Unit]
Description=Map Sync
After=network.target
ConditionPathExists=/etc/advanced-colonies/digital-ocean-token.txt

[Service]
Type=oneshot

User=minecraft
Group=minecraft

ExecStart=/opt/bin/lego --dns digitalocean -d minecraft.canine.systems --accept-tos --email ellen@duckinator.net --path /opt/minecraft/lego --dns.propagation-disable-ans=true run

Environment=DO_AUTH_TOKEN_FILE=/etc/advanced-colonies/digital-ocean-token.txt

NoNewPrivileges=true
