[Unit]
Description=Minecraft Server
After=network.target
ConditionPathExists=|/opt/minecraft/server/minecraft.disable

[Service]
User=minecraft
Group=minecraft

WorkingDirectory=/opt/minecraft/server

Restart=always
RestartSec=30

ExecStart=/opt/minecraft/server/run.sh

NoNewPrivileges=true

[Install]
WantedBy=default.target
