[Unit]
Description=Minecraft Server
After=network.target

[Service]
User=minecraft
Group=minecraft

WorkingDirectory=/opt/minecraft/server

Restart=always
RestartSec=30

ConditionPathExists=|/opt/minecraft/server/minecraft.disable
ExecStart=/opt/minecraft/server/run.sh

NoNewPrivileges=true

[Install]
WantedBy=default.target
