[Unit]
Description=Minecraft Server
After=network.target

[Service]
WorkingDirectory=/opt/minecraft/server

Restart=always
RestartSec=10

ExecStart=/opt/minecraft/server/run.sh

NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=default.target
